body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.block1, .block2, .block3, .block4, .block5, .block6, .block7 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.row1 {
    display: flex;
    height: 10%; 
}

.row2 {
    display: flex;
    height: 20%;
}

.row3 {
    display: flex;
    height: 40%; 
}

.row4 {
    display: flex;
    height: 20%; 
}

.row5 {
    display: flex;
    height: 10%; 
}

.row1 .block1 {
    background-color: #000000;
    justify-content: flex-end;
    align-items: center;
}

.row2 .block2 {
    background-color: #006666;
    flex: 1;
}

.block2 .navigation ul {
    list-style-type: none; 
    padding: 0;
}

.block2 .navigation ul li {
    margin: 5px 0; 
}

.block2 .navigation ul li a {
    text-decoration: none; 
    display: inline-block;
    padding: 5px 10px;  
    color: #000000; 
}

.block2 .navigation ul li a.active {
    background-color: #00CC66; 
    color: #ffffff; 
    border-radius: 5px; 
}

.block2 .navigation ul li a:hover {
    text-decoration: underline;
}

.row2 .block3 {
    background-color: #00CC66;
    flex: 1;
    align-items: center;
}


.row2 .block4 {
    background-color: #006666;
    flex: 1;
}

.row3 .block2 {
    background-color: #006666;
    flex: 1;
    align-items: center;
}

.row3 .block5 {
    background-color: #000000;
    flex: 1;
}


.row3 .block4 {
    background-color: #006666;
    flex: 1;
    overflow-y: auto;
    align-items: center;
}

.row4 .block6 {
    background-color: #00CC66;
    flex: 2;
    align-items: center;
}

.row4 .block4 {
    background-color: #006666;
    flex: 1;
}

.row5 .block7 {
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px; 
}

h1 {
    color: #00CC66; 
    font-size: 32px; 
    font-family: Verdana, sans-serif; 
    padding-right: 20px;
}

h2 {
    color: #00CC66; 
    font-size: 18px; 
    font-family: 'Verdana', serif; 
}

p {
    color: #000000; 
    font-size: 18px; 
    font-family: 'Verdana', sans-serif; 
    padding: 10px; 
    margin: 0;
}
